* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  display: grid;
}
.flex_space_between {
  display: flex;
  justify-content: space-between;
}
.flex_center {
  display: flex;
  justify-content: center;
}
