@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-color: rgb(252, 252, 252);
}
.contact-container {
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (width > 768px) {
  .jump {
    animation: jumping linear 0.2 s;
    position: relative;
  }

  @keyframes jumping {
    from {
      top: 0;
    }
    to {
      top: -30px;
    }
  }

  .link-animation-1 {
    animation: linkone forwards 1s;
  }

  @keyframes linkone {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -25vh;
    }
  }

  .link-animation-2 {
    animation: linkone2 forwards 1s;
  }

  @keyframes linkone2 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -22vh;
    }
  }

  .link-animation-3 {
    animation: linkone3 forwards 1s;
  }

  @keyframes linkone3 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -19vh;
    }
  }
}

@media (width <= 768px) {
  .jump {
    animation: jumping linear 0.2 s;
    position: relative;
  }

  @keyframes jumping {
    from {
      top: 0;
    }
    to {
      top: -30px;
    }
  }

  .link-animation-1 {
    animation: linkone forwards 1s;
  }

  @keyframes linkone {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -5vh;
    }
  }

  .link-animation-2 {
    animation: linkone2 forwards 1s;
  }

  @keyframes linkone2 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -3vh;
    }
  }

  .link-animation-3 {
    animation: linkone3 forwards 1s;
  }

  @keyframes linkone3 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -1vh;
    }
  }
}

/* .square:hover {
  transform: rotate(375deg);
} */

.square-container{
cursor: pointer;
}
.square-container:hover p{
  opacity: 100%;
}