@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(252, 252, 252);
}
.square-container {
  cursor: pointer;
}
.square-container:hover p {
  opacity: 100%;
}

@media (width >= 768px) {
  .portfolio-container {
    width: 60vw;
    float: right;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: black;
    margin-right: 5vw;
  }
}

@media (width <768px) {
  .portfolio-container {
    width: 100%;
    float: right;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: black;
  }
}
