@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
}

body {
  background-color: rgb(252, 252, 252);
}
.contact-container {
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 93%;
}

@media (width > 768px) {
  .jump {
    animation: jumping linear 0.2 s;
    position: relative;
  }

  @keyframes jumping {
    from {
      top: 0;
    }
    to {
      top: -30px;
    }
  }

  .link-animation-1 {
    animation: linkone forwards 1s;
  }

  @keyframes linkone {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -23vh;
    }
  }

  .link-animation-2 {
    animation: linkone2 forwards 1s;
  }

  @keyframes linkone2 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -20vh;
    }
  }

  .link-animation-3 {
    animation: linkone3 forwards 1s;
  }

  @keyframes linkone3 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -17vh;
    }
  }
  .link-animation-4 {
    animation: linkone4 forwards 1s;
  }

  @keyframes linkone4 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -14vh;
    }
  }
}

@media (width <= 768px) {
  .jump {
    animation: jumping linear 0.2 s;
    position: relative;
  }

  @keyframes jumping {
    from {
      top: 0;
    }
    to {
      top: -30px;
    }
  }

  .link-animation-1 {
    animation: linkone forwards 1s;
    color: white;
    padding-left: 5px;
  }

  @keyframes linkone {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -7vh;
    }
  }

  .link-animation-2 {
    color: white;
    padding-left: 5px;

    animation: linkone2 forwards 1s;
  }

  @keyframes linkone2 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -4vh;
    }
  }

  .link-animation-3 {
    animation: linkone3 forwards 1s;
    color: white;
    padding-left: 5px;
  }

  @keyframes linkone3 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -1vh;
    }
  }
  
  .link-animation-4 {
    animation: linkone4 forwards 1s;
    color: white;
    padding-left: 5px;
  }

  @keyframes linkone4 {
    0% {
      transform: rotate(90);
      position: absolute;
      left: 100px;
      top: 0;
    }
    100% {
      transform: rotate(0);
      position: absolute;
      left: 1px;
      top: -4vh;
    }
  }
}

/* .square:hover {
  transform: rotate(375deg);
} */

.square-container {
  cursor: pointer;
}
.square-container:hover p {
  opacity: 100%;
}
